.SeventhPage{
    margin-top: 13em;
    color: grey;
    height: 60em;
}
.SevHead{
    font-size: 4em;
    font-family: cursive;
    font-weight: 500;
}
.SevText{
    font-size: 2.5em;
    font-weight: 400;
}
.SevRup{
    font-family: cursive;
    font-size: 4em;
}
.SevBag{
    font-size: 2.5em;
    font-weight: 400;
}
.SevImg{
    height: 40em;
    width: 25em;
}
.SevCard{
    height: 18em;
    box-shadow: 5px 10px 9px #888888;
    border-radius: 10%;
    width: 10em;
    margin-top: 10em;
}
.CardText{
    font-size: 1.25em;
    margin-top: 55%;
    text-align: center;
    font-weight: 600;
}
.SevCImg{
    height: 100px;
    width: 150px;
}