.static-img{
  
    
        background-image: url("../../assets/images/FifthBack.jpg");
        
        background-attachment: fixed;
        background-size: cover;
        min-height: 60em;
    
}
.FifthTitle{
    height: 3em;
    text-align: center;
    margin-left: 35%;
    font-size: 4em;
    color: white;
    background-attachment: fixed;
    font-family: cursive;
    max-height: 1.5em;
    text-shadow: 2px 2px 4px #000000;
}
.fa {
    
    font-size: 3em;
    align-items: center;
}
.FifthText{
    color: white;
    text-align: center;
    font-size: 2em;
    
    font-weight: 200;
    margin-right: 7%;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 40%;
}
.Fi-Break{
    height: 30em;
}