.header {
  size: 2em;
  
}

.option {
  line-height: 2em;
  margin-right: 1.75em;
  margin-bottom: 15px;
  padding-bottom: 30px;
  font-size: 1em;
  text-transform: uppercase;
  color: grey;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.options {
  text-align: right;    
  margin-right: 5%;
  text-decoration: none;
  padding-bottom: 10px;
}
  
hr{
  color: red;
}
    
.logu {
  text-align: left;  
  text-align: start;
  margin-right: 50%;    
  width: 5%;
}

