.ThirdPage{
    background-color: black;
    height: 75rem;
    color: white;
}
.Fnum{
    font-size: 20em;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
#numsign{
    font-size: 4em;
    font-weight: 800;
   
    
}
.little{
    height: 120px;
}
#NumLine{
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
}
.Fobreak{
    height: 10%;
}
.foMidText{
    font-size: 2em;
}
.NUM{
 width: 100%;   
}
.FoText{
    width: 100%;
}
.Fobreak-2{
    height: 50%;
}
.foTwoCol{
    font-size: 0.75em;
    font-family: cursive;
}
.colText{
    font-family: cursive;
}