.Thtitle{
    text-align: center;
    font-size: 4em;
    color: white;
    font-weight: 600;
}
.Thdescription{
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: 100;
    ;
}
.SecondPage{
    background-image: url(../../assets/images/2.jpg);
    
}
#break{
    color: white;
    
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
    margin-right: 40%;
}
.ThCol{
    color: white;
    width: 100%;
}
.Space{
size: 50px;
height: 100px;
}
.ThcTitle{
    text-align: center;
    font-size: 4em;
    margin-bottom: 30px;
    font-weight: 600;
}
.Thcdescription{
    font-size: 1.75em;
    text-align: center;
    font-family: cursive;
}
