.Firstpage {
margin-top: 8em;




}
img {
    width: 10em;
    text-align: center;
    align-items: center;
    
}
.tittle {
  text-align: center;
  
    
    
    text-align: center;
    margin-bottom: 1em;
}
p {
    margin-top: 0.2em;
}

.titledetail {
    text-align: center;
    font-size: 350%;
    font-weight: 900;

}
.titlecontent {
    text-align: center;
    font-size: large;
    font-weight: 100;
    margin-bottom: 4em;

}